table {
    width: 90%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    margin-top: 1.5em;
}

table th {
    height: 2.5em;
    vertical-align: inherit;
    user-select: none;
}

th img {
    display: inline;
    width: 1em;
    transform: rotate(180deg);
    margin-left: 0.5em;
    vertical-align: middle;
}

th, td {
    border-bottom: 1px solid;
    height: 5vh;
    vertical-align: bottom;
    padding: .5rem;
}

tr:not(:first-child):hover {
    background: var(--c-beeswax);
}

/* Download xlsx button */

#download-xlsx {
    width: fit-content;
    margin: auto;
    display: flex;
    margin-top: 2em;
}

#download-xlsx button {
    border: none;
    font-family: 'mont';
    font-size: 1.5rem;
    height: fit-content;
    background: var(--c-pampas);
}

#download-xlsx img {
    width: 2em;
}

